{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href={% static '' %}>
    {% block header %}    {% endblock header%}
</head>
<body>
    <background id = 'bg' style="background-image: url('{% static 'interface/bg.jpg' %}');">
        <p>I'm very enthusiastic to learn web development!</p>
        {% block content %}    {% endblock content%}
    </background>
</body>
</html>

