{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet"  href="{% static 'css/global.css' %}"/>
    {% block header %}    {% endblock header%}
</head>
<body >

    <p>Empowering your financial journey.</p>
    <h1>PayPulse Payment</h1>
    <nav>
        <a href={% url 'home-page' %}>Home</a>
        <a href={% url 'register' %}>Log In</a>
        <a href="#">Sign Out</a>
        <a href={% url 'loading' %}>Contact</a>
    </nav>

    {% block content %}    {% endblock content%}

</body>
</html>

