{% extends 'authenticate/profile.html' %}
{% load static %}

{% block admin %}
    <div class="panel">
        <h2>Overall Payment Record</h2>
        <table class="table">
            <tr>
                <th class="center">sender</th>
                <th class="center">amount</th>
                <th class="center">currency</th>
                <th class="center">recipient</th>
                <th class="center">time stamp</th>
            </tr>
            {% for payment in payments %}
                <tr>
                    <td class="center">{{ payment.sender }}</td>
                    <td class="center">{{ payment.amount }}</td>
                    <td class="center">{{ payment.sender.currency }}</td>
                    <td class="center">{{ payment.recipient }}</td>
                    <td class="center">{{ payment.time_stamp }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="panel">
        <h2>Overall User List</h2>
        <table class="table">
            <tr>
                <th class="center">pk</th>
                <th class="center">username</th>
                <th class="center">is staff</th>
                <th class="center">balance</th>
            </tr>
            {% for account in accounts %}
                <tr>
                    <td class="center">{{ account.pk }}</td>
                    <td class="center">{{ account.get_username }}</td>
                    <td class="center">{{ account.is_staff }}</td>
                    <td class="right">{{ account.balance }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="transfer panel">
        <h3>Admin Register</h3>
        <form action="{% url 'admin_register' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock admin %}
