{% extends 'authenticate/profile.html' %}
{% load static %}

{% block costomer %}
    <div class="panel" xmlns="http://www.w3.org/1999/html">
        <h2>User Payment Panel</h2>
        <div class="balance">
            <p>Your account balance is {{ user.currency.symbol }} {{ user.balance }}</p>
            <ul>
                <li>User name: {{ user.username }}</li>
                <li>Currency: {{ user.currency }}</li>
            </ul>
        </div>
        <canvas id="balanceChart"></canvas>
    </div>
    <div class="panel">
        <h2>Funds Panel</h2>
        <div class="transfer">
            <h3>transfer right now</h3>
            <form action="{% url 'transfer' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
        <br>
        <div class="transfer">
            <h3>make a requirement to other user</h3>
            <form action="{% url 'require_transfer' %}" method="post">
                {% csrf_token %}
                {{ request_form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="panel">
        <h1>Pending Transfer list</h1>
        <table class="table">
            <tr>
                <th class="center">requirement from</th>
                <th class="center">amount</th>
                <th class="center">action</th>

            </tr>
            {% for require in require_transfer %}
                <tr>
                    <td class="center">{{ require.recipient }}</td>
                    <td class="center">{{ require.amount }}</td>
                    <td>
                        <form class="center" action="{% url 'execute_requirement' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="require_pk" value={{ require.pk }}>
                            <input type="submit" value="accept">
                        </form>
                    </td>

                </tr>
            {% endfor %}
        </table>


    </div>

    <div class="panel">
        <h2>Payment Record</h2>
        <table class="table">
            <tr>
                <th class="center">recipient</th>
                <th class="center">amount</th>
                <th class="center">time stamp</th>
            </tr>
            {% for payment in payments %}
                <tr>
                    <td class="center">{{ payment.recipient }}</td>
                    <td class="center">{{ payment.amount }}</td>
                    <td class="center">{{ payment.time_stamp }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>

    <script src='{% static 'js/user-panel.js' %}'></script>
{% endblock %}
