{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>Payment User Panel</title>
    <link rel="stylesheet"  href="{% static 'css/profile.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
{% endblock header%}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <h1>Admin Panel</h1>
            {% block admin %} {% endblock %}
        {% else %}
            <h1>Customer Panel</h1>
            {% block costomer %} {% endblock %}
        {% endif %}
    {% else %}
        <div>
            <h1>You are not log in yet.</h1>
            <h2 href={% url 'login' %}>log in</h2>
        </div>
    {% endif %}
{% endblock content %}